{:deps         true

 :nrepl        {:port 7888
                ;:init-ns sniff.core
                }
;  :dev-http     {9500 {:roots ["resources/public" "target/public" ]
;                      ;  :proxy-url "https://localhost:7881/attrs"
;                       }}

;  :dev-http
;  {8801
;   {:root "public"
;    :proxy-url "http://geoserver:8080"
;    }}

 :http {:port 9630
        :host "0.0.0.0"}
 :builds
 {:app {:target :browser
        :output-dir "resources/public/js-out"
        :asset-path "/js-out"
        :module-loader true
        :modules
        {:main {:entries [#_simple.core
                          ged.core
                          #_routing-example.core
                          #_conduit.core]}

         :settings {:entries [ged.settings.view]
                    :depends-on #{:main}}}

        :compiler-options
        {:infer-externs    :auto
         :closure-warnings {:global-this :off}
         :closure-defines  {"re_frame.trace.trace_enabled_QMARK_"         true
                            "day8.re_frame.tracing.trace_enabled_QMARK_"  true
                            re-frame.trace/trace-enabled? true
                            day8.re-frame.tracing/trace-enabled? true}}

        :devtools
        {#_:after-load
         #_simple.core/init
         #_ged.core/main
         #_routing-example.core/init!
         #_conduit.core/init
         :http-root  "resources/public"
         :http-port  9500
         :http-handler srv.dev-http/handle
         :preloads   [day8.re-frame-10x.preload]}}

  :devcards {:target     :browser
             :output-dir "resources/public/js-out/devcards"
             :asset-path "/js-out/devcards"

             :modules
             {:main {:entries [sniff.devcards]}}

             :devtools {:http-port        4001
                        :http-root        "resources/public"
                        :http-handler     shadow.http.push-state/handle
                        :push-state/index "devcards.html"
                        ;:before-load     sniff.devcards/before-load
                        ;:preloads        [dev.devcards]
                        :after-load       sniff.devcards/main}
             :dev {:compiler-options {:devcards true}}}

  :test {:target    :karma
         :output-to "target/test.js"
         :ns-regexp "-test$"}}}
